<div class="home banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1518860000863-3adc82cce3cf?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGxhZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800);">
  <div class="container main-home d-flex flex-column text-center">
    <h1>La solution idéale pour ta location d'équipements nautiques entre particuliers</h1>
    <p>Tu souhaites te faire plaisir sur l'eau ? Surf, Kayak, Paddle... choisis l'équipement qui te convient et tu es prêt pour aller rider !</p>
    <%= link_to "Découvrir", equipments_path, class: "btn-main mx-auto" %>

    <div class="cards">
      <% @categories.each do |category| %>
        <%= link_to equipments_path(sport: category) do %>
          <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_url("#{category.downcase}.jpg")%>')">
            <%= category %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
