.btn-home {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  &:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}

.btn-main {
  background-color: $blue;
  color: white;
  border-radius: 5px;
  padding: 8px 24px;
  border: 2px solid $blue;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: $blue;
    background-color: white;
  }
}

.btn-sec {
  background-color: transparent;
  color: $blue;
  font-weight: bold;
  // border-radius: 5px;
  // padding: 8px 24px;
  // border: 1px solid $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: $gray ;
  }
}
