.card-title {
  margin-bottom: 30px;
}

.card-subtitle {
  margin-bottom: 20px;
}

.description-text {
  background-color: rgb(233, 236, 240);
  padding: 20px 20px;
  margin: 0px 0px 0px 20px;
  border-radius: 10px;
}

.price {
  text-align: right;
}
 .description {
   background-color: white;
   padding: 15px 15px;
   border-radius: 10px;
   margin-top: 30px;
 }
