.card-title {
  margin-bottom: 30px;
}

.card-subtitle {
  margin-bottom: 20px;
}

.description-text {
  background-color: rgb(233, 236, 240);
  padding: 20px 20px;
  margin: 0px 0px 0px 20px;
  border-radius: 10px;
}

.price {
  text-align: right;
}
 .description {
   background-color: white;
   padding: 15px 15px;
   border-radius: 10px;
   margin-top: 30px;
 }

 .booking-form {
   margin-top: 30px;
   background-color: white;
   height: 270px;
   width: 270px;
   padding: 15px 15px;
   border: 1px solid rgb(221, 221, 221);
   border-radius: 10px;
   box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.16);
}
