.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h3 {
  color: #0950B3;
  margin-top: 10px;
}

.navbar-brand img {
  border-radius: 50px;
}

.nav-link {
  color: #0950B3;
}
