.box-welcome {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: white;
  padding: 30px 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.16);
}

.box-welcome p {
  font-size: 14px;
}

.conection-form h4 {
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-bottom: 40px;
  padding-bottom: 10px;
  text-align: center;
}

.conection-form {
  margin-right: 110px;
  margin-left: 110px;
}

.container {
  margin-bottom: 30px;
}
